
body {
	margin:0px;
	font-size:14px;
	color: lightgrey;
	background-color: black;
}

a {
	text-decoration:none;
}


.lbox{
  position:relative;
  display:block;
  margin-left:30%;
  margin-top:10%;
  width:40%;
  max-width:40%;
  background-color:gray;
  border:1px solid lightgray;
  border-radius:1%;
  padding:2%;
}

.all-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.content {
	margin-left:5%;
	margin-right:5%;
	margin-top:1%;
	margin-bottom:1%;
	flex: 1 0 auto;
}

.contentbox {
    margin-top:20px;
	margin-left:20%;
	margin-right:20%;
    margin-bottom:20px;
	flex: 1 0 auto;
}

.menu {
	margin:0;
	padding:0;
}

footer {
	margin: 0;
	padding: 0;
	display: block;
	color: white;
	cursor:default;
}


p a{
	display: inline-block;
	color: black;
	text-align: center;
	padding-left: 14px;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	color:white;
}

li {
	list-style-type: none;
	float: left;
}

li a, .dropbtn{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px 12px;
	border-radius:5px;
	text-decoration: none;
}

li a:hover, .dropdown:hover, .dropbtn, .actmenu {
	background-color: red;
}

.active {
	background-color: gray;
}

.liright {
	float:right;
	padding:0px;
	color:white;
}

.lileft {
	float:left;
	padding:0px;
	color:white;
}

@media screen (max-width: 2900px) {
	ul.sidenav {
	width: 100%;
		height: auto;
		position: relative;
	}
	ul.sidenav li a {
	float: left;
		padding: 15px;
	}
	div.content {
		margin-left: 0;
	}
}

li:last-child {
	border-right: none;
}

@media screen (max-width: 400px) {
	ul.sidenav li a {
		text-align: center;
		float: none;
	}
}

.message_ok {
	position: relative;
	display: block;
	padding: 2em;
	margin:2em;
	background-color: blue;
	color: white;
	cursor: default;
	border-left: 1em solid;
	border-right: 1em solid;
	border-color:lightgreen;
	bborder-radius:10px;
}

.message_error {
	position:relative;
	display:block;
	padding:2em;
	margin:2em;
	background-color:red;
	color:white;
	cursor:default;
	border-left: 1em solid;
	border-right: 1em solid;
	border-color:lightgray;
}

.center {
	text-align:center !important;
}

input[type=text], select, [type=date], textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	background-color:dimgrey;
	color:white;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	background-color:dimgrey;
	color:white;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.placeholder {
	padding-top:2em;
}

.row {
	width: 90%;
	margin:auto;
	position:relative;
	display:block;
}

.row100 {
	width: 100%;
	margin:auto;
	position:relative;
	display:block;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.row100:after {
	content: "";
	display: table;
	clear: both;
}

.col2{
	width:50%;
	float:left;
	padding:0px;
	margin:0px;
}

.col3{
	width:33.3%;
	float:left;
	padding:0px;
	margin:0px;
}

.col4{
	width:25%;
	float:left;
	padding:0px;
	margin:0px;
}

.col5{
	width:20%;
	float:left;
	padding:0px;
	margin:0px;
}

.box{
	padding:10px;
	margin:5px;
	border: 1px solid grey;
	border-radius: 4px;
}

.placeholder{
    color:transparent;
}


