<style>

/* content css */

body {
    margin:0px;
}

header {
    margin: 0;
    padding: 0;
    display: block;
    flex-shrink: 0;
}

footer {
    margin: 0;
    padding: 0;
    display: block;
    flex-shrink: 0;
}

.all-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin:20px;
    padding:20px;
    flex: 1 0 auto;
}

.center {
    text-align:center;
}

.spaceline {
   padding-top:25px;
}

.spaceline50 {
   padding-top:50px;
}

.spaceline100 {
   padding-top:100px;
}

.container {
    position:relative;
    display:block;
    cursor:default;
    clear:both;
}


.row{
    width:90%;
    position:relative;
    padding-left:5%;
    padding-right:5%;
    display:block;
    clear:both;
    text-align:center;
    align-content: center;
}


.row:after{
    content: "";
    display: table;
    clear: both;
}

</style>
